body{
background: rgb(20,67,103);
background: radial-gradient(circle, rgba(20,67,103,1) 50%, rgba(14,30,63,1) 93%);
font-family: 'Lora', serif;
 margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}
a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
 	color: #66c0f4;
}
 .navbar{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #171a21;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}
    ul{
        padding: 0;
        list-style: none;
        background: #171a21;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
      font-size: 18px;
        display: block;
        padding: 8px 25px;
        color: #c7d5e0;
        margin-top: 10px;
        text-decoration: none;
    }
    ul li a:hover{
        color: #c7d5e0;
        background: #111;
    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #171a21;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }
table {
  border-collapse: collapse;
  width: 75%;
  margin-bottom: 50px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.split {
  height: 100%;
  width: 50%;
  position:fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
/* Control the left side */
.left {
  left: 0;
  background-image: url(images/skrrt.jpg);
}

/* Control the right side */
.right {
  right: 0;
  background-image: url(images/skrra.jpg);
}
.button1 {
  background-color: #2a475e;
  border: none;
  color: #66c0f4;
  padding: 6px 35px;
  text-align: center;
  /*display: inline-block;*/
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
}
.button1:hover {
  background-color:#66c0f4; /* Green */
  color: white;
}
.designedtext{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.error{
  color: #66c0f4;
  padding: 10px;
  margin: 0px auto;
}

#header{
	color: #66c0f4;
	font-size: 40px;
	padding-left: 30px;
}
#subtitlediv{
	padding-left: 70px;
	color: white;
	font-size: 20px;
}
#logindiv{
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #1b2838;
	transform: translate(-50%, -50%);
	text-align: left;
	border-radius: 8px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 38px;
	color: #66c0f4;
	margin-left: auto;
	margin-right: auto;
}
#txtfld1{
  background-color:#2a475e;
  height: 25px;
  border-style:groove;
  border-radius: 3px;
  color: white;
  border-style:groove;
  border: 1px solid black;
}
#shopcontent{
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 100px;
  margin-right: 0px;
}
#shopcontent a{
    float: left;
    margin: 20px;
    text-decoration: none;
}
#shopcontent img{
  border-radius: 6px;
  transition: transform .2s;
}
#shopcontent img:hover {
  transform: scale(1.1); 
}
#shoptitle{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 80px;
}
#invtitle{
  text-align: center;
margin: 50px;
}
.button2 {
  background-color:#779800;
  border: none;
  color: white;
  padding: 6px 35px;
  text-align: center;
  /*display: inline-block;*/
  font-size: 13px;
  border-radius: 2px;
  transition-duration: 0.4s;
}
.button2:hover {
  background-color:#a2c902; /* Green */
  color: black;
}
